* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
   padding: 20px;
}

.main_heading {
    padding-top: 60px;
    font-size: 50px;
    font-weight: bold;
}

.homepage_icon {
    font-size: 150px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFB;
    color: #7A7F80;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #B6CFB7;
    font-size: 24px;
}
/* Size of user input boxes */
input {
    padding: 5px;
    width: 25%;
    margin: 10px 5px;
    color: #333333;
    border: 5px #ffffff;
    border-radius: 4px;
    outline: none;
}

/* Alignment of input labels */
label {
    display: inline-block;
    margin: 5px;
    width: 300px;
    text-align:center;
}

.btn {
    font-family: 'Raleway', sans-serif;
    padding: 5px 15px;
    background-color: #FFFFFF;
    color: #333333;
    font-weight:600;
    border: 1px solid #b9bbc0;
    border-radius:15px;
    width:200px;
    margin:5px;
}

 .btn:hover {
  background-color: #ffd3da;
  color: #7A7F80;
  border: 1px solid #111;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.3);
  transition-duration: .4s box-shadow;
}

.nav-link:hover {
  /**background-color: #6B9080; **/
  color: #FFFFFF;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.3);
  transition-duration: .4s box-shadow;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #B6CFB7;
  color: #FFFFFF;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.3);
  transition-duration: .4s box-shadow;
  border-radius: 5px;
}

/* register */
.register-form {
    padding: 5px;
    text-align: center;
    width: 20%;
    margin: 4px;
    border: 2px solid;
    border-color: #7A7F80;
    border-radius: 5px;
}

.error_message {
    color: red;
}

/* login */
.form-group-two {
    text-align: center;
    width: 50%;
    margin: auto;
    border-color: #7A7F80;
    border-radius: 5px;
}

/* update account details */
 .user-account-form {
     text-align:center;
     padding: 5px;
     width: 44%;
     margin: auto;
 }

.user-account-label {
    text-align: center;
    margin: auto;
    width: 44%;
}

.field {
    border: 2px solid #7A7F80;
}

.footer_link {
   color: #114B5F;
}

.navbar_link {
   color: #DEDBD2;
}

.navbar_link:link, .navbar_link:visited, .footer_link:link, .footer_link:visited {
  text-decoration: none;
}

/* CAROUSEL */
.carousel .carousel-item {
  height: 600px;
}

#carousel {
    padding:50px 0px;
}

.carousel-item img {
    height: 600px;
    width: 200px;
    object-fit: cover;
}

.#email, #password, #remember, .login_button, button {
    font-family: 'Josefin Slab', serif;
    padding: 10px 15px;
    color: #795C5F;
    margin: 10px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image text-and-link text-and-link"
    ". . ."
    ". . .";
}

/*
.image { grid-area: image; }
.text-and-link { grid-area: text-and-link;
   height: 200px;
  width: 700px;}

.grow1 { flex-grow: 1; }
*/

.about_page_text {
    font-size: 25px;
    line-height: 1.6;
}

.images_about_page {
  height: 200px;
  width: 200px;
  position: relative;
  border: 1px solid #795C5F;
  border-radius: 5px;
  object-fit: cover;
}

.media {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images_account_page {
  height: 200px;
  width: 200px;
  position: relative;
  border: 1px solid #795C5F;
  border-radius: 5px;
  object-fit: cover;
}

.images_navbar {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;}


/* RECIPES PAGE */
.recipe_box {
   border: solid #7A7F80 2px;
   border-radius: 10px;
   height: auto;
   width: 80%;
   padding: 20px;
   margin: auto;
   margin-top: 20px;
}

.recipe_name {
    font-size: 40px;
    font-weight: bold;
    color: #7A7F80;
}

.recipe_name:link, .recipe_name:visited, .recipe_name:hover {
    color: #7A7F80;
}

.full_recipe_link:link, .full_recipe_link:visited, .full_recipe_link:hover {
    color: #04724D;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.recipe_table_row {
    justify-content: center;
    padding: 10px;
}

ul#recipe_rating {
    list-style-type: none;
}

.saved_recipe_box {
   border: solid #7A7F80 2px;
   border-radius: 10px;
   height: auto;
   width: 80%;
   padding: 20px;
   margin: auto;
   margin-top: 20px;
}

.recipe_page_images, .saved_recipe_page_images {
  position: relative;
  border: solid #7A7F80 1px;
  border-radius: 5px;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.dropdown show {
background-color: #795C5F
}

.btn btn-secondary dropdown-toggle {
background-color: #795C5F
}

/* CONTACT */

.about-us {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}
@media screen and (max-width: 1320px) {
  .about-us {
    flex-direction: column;
  }
}

.about-me {
  position: relative;
  display: flex;
  border: solid #7A7F80 2px;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  text-align: center;
  padding: 30px;
  margin: 20px;
}

/* FOOTER */
.footer_link:link, .footer_link:visited, .footer_link:hover {
    color: #7A7F80;
    font-size: 30px;
}

.fa-solid fa-bowl-food{
    color: #795C5F;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
background: #0e76a8;
color: white;
}

.fa-google {
color: white;
background: #db4a39;
}

.fa-instagram {
background: #3f729b;
color: white;
}

.fa-youtube {
color: white;
background: #c4302b;
}

.footer {
   display: flex;
   flex-direction: column;
   position: relative;
   padding: 20px;
   bottom: 0;
   width: 100%;
   height: auto;
   background-color: rgb(4, 114, 77, 0.1);
}

.here_links {
    color: #7A7F80;
}

.here_links:hover {
    color: #04724D;
}

/*.star_buttons {
  input.radio {width: auto;}
}*/