* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
   padding: 20px;
}

body {
    font-family: 'Josefin Slab', serif;
    background-color: #DEDBD2;
    color: #795C5F;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #795C5F;
}

a {
    /** color: #DEDBD2; **/
    color: black;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.50;
}

.#email, #password, #remember, .login_button, button {
    font-family: 'Josefin Slab', serif;
    padding: 10px 15px;
    color: #795C5F;
    margin: 10px;
}

.btn, .field{
    font-family: 'Josefin Slab', serif;
    padding: 5px 15px;
    color: #795C5F;
    margin: 5px;
    border: 1px solid #795C5F;
}

fieldset {
    border: 0;
}

/*label {
    display: inline-block;
    width: 250px;
    text-align: right;
}*/

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  padding-top: 20px;
}

img {
  position: relative;
  border: 1px solid #795C5F;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.recipe_box {
   display: flex;
  justify-content: center;
}

.recipe_info {
    float: left
    /** height: 500px;
    width: 200px; **/
    padding: 100px
    /** inline-size: 150px **/
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
     align: center

}

.recipe_page_images {
    height: 500px;
    width: 200px;
    float: right;
    padding: 50px;
    margin: 2px;
    border: 2px;
    padding-top: 100px;
    justify-content: center
}

.recipe_description {
    height: 150px;
    margin: 0 auto;
    max-width: 300px;
    border: solid 2px #ccc;
    padding: 12px;

}
. dropdown show {
background-color: #795C5F
}

.btn btn-secondary dropdown-toggle {
background-color: #795C5F
}

li {
  display: flex
}


.fa-solid fa-bowl-food{
color = #795C5F
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
background: #0e76a8;
color: white;
}

.fa-google {
color: white;
background: #db4a39;
}
.fa-instagram {
background: #3f729b;
color: white;
}
.fa-youtube {
color: white;
background: #c4302b;
}