* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, h2, h3 {
   padding: 20px;
}

body {
    font-family: 'Josefin Slab', serif;
    background-color: #DEDBD2;
    color: #795C5F;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #795C5F;
}

a {
    color: #DEDBD2;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.50;
}

.btn, .field, #email, #password, #remember, .login_button, button {
    font-family: 'Josefin Slab', serif;
    padding: 5px 15px;
    color: #795C5F;
    margin: 5px;
}

fieldset {
    border: 0;
}

/*label {
    display: inline-block;
    width: 250px;
    text-align: right;
}*/

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  padding-top: 20px;
}

img {
  position: relative;
  border: 1px solid #795C5F;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}