{% extends "layout.html" %}
{% block body_content %}

    <h2>About Us</h2>

<div class = "about_page">
    <h3>Welcome to Empty Fridge Full Plate. <br> Our aim is to help people reduce their food waste. <br> If you have some food items in your kitchen that need using up, find recipes here. <br> Rate the recipes you try, store your favourites and share your own. <br> Use our website to find food banks, refill shops and other resources near you and online. <br> Read our tips on how to reduce food waste and share what you do to minimise waste at home.</h3>

</div>
<h4>Join our community here:</h4>
<a class="btn" href="{{url_for('register')}}">Sign up</a>
<br>
<br>
<div class="images">
    <img class="images_about_account" src="{{url_for('static', filename='images/salad1.jpeg')}}" alt="Salad">
    <img class="images_about_account" src="{{url_for('static', filename='images/pasta1.jpeg')}}" alt="Pasta">
    <img class="images_about_account" src="{{url_for('static', filename='images/soup1.jpeg')}}" alt="Soup">
    <img class="images_about_account" src="{{url_for('static', filename='images/avocado1.jpeg')}}" alt="Avocado">
</div>

<br>



{% endblock %}