{% extends "layout.html" %}
{% block body_content %}
    <title>Contact</title>
    <h2>Who are we?</h2>
    <div class="about-us">
        <div class="about-me">
        About Mel... First and foremost, I am a mum to two young boys. Before Covid, I had another job too, working as an occupational therapist for Adult Social Care. I quit my job to be at home with my children during the lockdowns and started thinking about my future career options. I began coding. I taught myself some HTML and CSS but then decided I needed some support to take things to the next level. It’s been very challenging at times, and I’ve had to join online sessions whilst in the car and with my kids in the background, but I am really enjoying the journey!
            <br><br>mel@email.com
        </div>
        <div class="about-me">
        About Pri... Hey I’m Pri, I’m a Broadband Engineer at Sky, who’s been dabbling with programming ‘seriously’ for the past year. I am honoured and appreciative of being part of such a great programme that is helping all types of Women break into the Tech industry. This programme has helped build my confidence, programming knowledge and team working skills, although I now have a “phobia” of committing my submits to the main git branch 😅. Anyways I am grateful for the opportunity and all the great women I have met (Please forgive me if I am yet to still reply to some of you, once this is out of the way I promise to reply to messages in less than 24 hours 😆🤞🏾)
            <br><br>pri@email.com
        </div>
         <div class="about-me">
        About Charlotte... In 2020 I completed my BSc (Hons) in Psychology.
             Since then, I've been working in retail and been reluctant to choose a career path.
             A TB to my first coding encounter was in 1st year when my friend studying Comp Sci said she couldn't get her code working.
             With no prior coding experience I pointed at a line of code saying, "the issue is there" and she replied,
             "oh yeah it is actually, thanks"- so basically was a software engineer then without knowing it.
             I have loved learning over the past 15 weeks with amazing women at the beginning of our Tech journeys.
             A massive thank you to Victoria, we couldn't have done it without you.
             <br><br>charlotte@email.com
        </div>
        <div class="about-me">
        About Orlane... Hey! I'm Orlane and I began my coding journey through my undergraduate degree
            (Chemistry, MChem) where I first encountered MATLAB and Python for various Computational Chemistry models.
            Due to academic burnout, I decided to take a year out this academic year and decided to explore
            options outside of academia. The last 15 weeks of this course has been really enjoyable and I have
            definitely improved my understanding of Python and databases. Thank you to QA and Sky for offering this
            programme and to our amazing tutor Victoria and to Cohort 2 for being very encouraging and inspiring!
            <br><br>orlane@email.com
        </div>
        <div class="about-me">
            About Ella...Hi, my name's Ella. I currently work for the government in digital policy. My team looks across government at the digital environment and we develop policy and standards to improve things.
            This is how I became interested in coding, as I saw lots of interesting projects happening and I'd rather be involved in delivering them.
            I completed a Code First Girls course last year in Python and then applied to GetInto Tech.
            I've really enjoyed the course and Victoria has been great at explaining everything!
            <br><br>ella@email.com
        </div>
    </div>

{% endblock %}