{% extends "layout.html" %}
{% block body_content %}
    <title>Contact</title>
    <h2>Who are we?</h2>
    <div class="about-us">
        <div class="about-me">
        About Mel... First and foremost, I am a mum to two young boys. Before Covid, I had another job too, working as an occupational therapist for Adult Social Care. I quit my job to be at home with my children during the lockdowns and started thinking about my future career options. I began coding. I taught myself some HTML and CSS but then decided I needed some support to take things to the next level. It’s been very challenging at times, and I’ve had to join online sessions whilst in the car and with my kids in the background, but I am really enjoying the journey!
        </div>
        <div class="about-me">
        About Pri...
        </div>
         <div class="about-me">
        About Charlotte...
        </div>
        <div class="about-me">
        About Orlane... Hey! I'm Orlane and I began my coding journey through my undergraduate degree
            (Chemistry, MChem) where I first encountered MATLAB and Python for various Computational Chemistry models.
            Due to academic burnout, I decided to take a year out this academic year and decided to explore
            options outside of academia. The last 15 weeks of this course has been really enjoyable and I have
            definitely improved my understanding of Python and databases. Thank you to QA and Sky for offering this
            programme and to our amazing tutor Victoria and to Cohort 2 for being very encouraging and inspiring!
        </div>
        <div class="about-me">
        About Ella...
        </div>
    </div>

{% endblock %}