{% extends "layout.html" %}
{% block body_content %}

<div class ="container-fluid">
    <form action="{{url_for('delete', comment_id=comment_id)}}" method="post">
    {{form.hidden_tag()}}
    <p>Are you sure you want to delete the following comment?</p>
    <div class="row">
        <div class="col">
            <h3>{{ comment.comment }}</h3>
        </div>
    </div>
    <div class="col">
        {{ form.submit(class="btn btn-danger")}}
        <a href="{{url_for('specific_recipe', recipe_name=recipe_name)}}" class="btn btn-primary">Cancel</a>
    </div>
    </form>
</div>

 <body>
      {% for message in get_flashed_messages() %}
      <h1>{{ message }}</h1>
      {% endfor %}
 </body>

{% endblock %}