{% extends "layout.html" %}
{% block body_content %}

<div class ="recipe_box">
<h2 class="font-weight-bold">Information about Food Banks</h2>


<h4>What is a food bank?</h4>
<p>A food bank is usually a charity that distributes free food to people experiencing hardship. They can also provide other items such as toiletries, debt advice, and help accessing support.</p>

<h4>Why are they needed?</h4>
<p>Food Banks stop people going hungry. In 2020/21 approximately 2.5 million people used a foodbank in the United Kingdom, over 600 thousand more than the previous year.</p>

<h4>Where can I find my latest Food Bank?</h4>
<p>You can find your nearest Food Bank by clicking <a class="here_links" href = "https://www.trusselltrust.org/get-help/find-a-foodbank/">here.</a></p>

<h4>Link between Food Banks and Empty Fridge Full Plate</h4>
<p>We encourage you to eat all the food that you've bought. But we do understand that sometimes this isn't possible. Instead of throwing away food, please consider donating it to your latest Food Bank.</p>
</div>

    {% endblock %}