{% extends "layout.html" %}
{% block body_content %}
    <h2>Reduce your waste and make tasty meals</h2>
    <h3>Enter an ingredient to find recipes</h3>
    <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.ingredients.label }} {{ form.ingredients(class="field") }}
            {{ form.submit(class="btn") }}
        <br>
        {{ message }}
    </form>

<div class="images">
    <img src="{{url_for('static', filename='images/french_toast.jpg')}}" alt="French Toast">
    <img src="{{url_for('static', filename='images/tacos.jpg')}}" alt="Tacos">
    <img src="{{url_for('static', filename='images/kebabs.jpg')}}" alt="Kebabs">
    <img src="{{url_for('static', filename='images/cake.jpg')}}" alt="Cake">
    <img src="{{url_for('static', filename='images/salad.jpg')}}" alt="Salad">
    <img src="{{url_for('static', filename='images/meatballs.jpg')}}" alt="Meatballs">
</div>

{% endblock %}