{% extends "layout.html" %}
{% block body_content %}

    <h2>Here are some recipes</h2>

<ul>
    {% for recipe in recipes %}
    <li>
        <b>Recipe Name:</b> {{ recipe.recipe_name }}
        <br>
        <br>
        <b>Recipe Difficulty:</b> {{ recipe.difficulty.difficulty_name }}
        <br>
        <br>
        <b>Recipe Prep Time:</b> {{ recipe.recipe_prep_time }}
        <br>
        <br>
        <b>Recipe Cooking Time:</b> {{ recipe.recipe_cook_time }}
        <br>
        <br>
        <b>Recipe Category:</b> {{ recipe.recipe_category }}
        <br>
        <br>
        <b>Recipe Description:</b> {{ recipe.recipe_description }}
        <br>
        <br>
        <a href="/recipes/{{ recipe.recipe_name }}"><b>Full Recipe Here</b></a>
        <br>
        <br>
        <img src="{{ recipe.recipe_img }}">
        <br>
        <br>
        -------------------------------
    </li>
{% endfor %}

</ul>

<br>



{% endblock %}