{% extends "layout.html" %}
{% block body_content %}

<h1>Register for an account here</h1>

    <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.first_name.label }} {{ form.first_name(class="field") }}
            <br>
            {{ form.last_name.label }} {{ form.last_name(class="field") }}
            <br>
            {{ form.username.label }} {{ form.username(class="field") }}
            <br>
            {{ form.email.label }} {{ form.email(class="field") }}
            <br>
            {{ form.password.label }} {{ form.password(class="field") }}
            <br>
            {{ form.submit(class="btn") }}
        {{ message }}
    </form>

<h2>Already have an account?</h2>
<button><a class="login_button" href="{{url_for('login')}}">Log In</a></button>

{% endblock %}