
<!--{% extends "layout.html" %}-->
<!--{% block body_content %}-->
<!--<h1>Resources</h1>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<!--{% endblock %}-->

<!-- {% extends "layout.html" %}
{% block body_content %}

    <h2>Resources</h2>

<!--<div class = "recipe_box">-->

<!--</div>-->
<h2>Join our community here:</h2>
<div class="container">
    <div class="image"><img src="{{url_for('static', filename='images/thetrusselltrustlogo.png')}}" alt="Salad"></div>
    <div class="text-and-link">The Trussell Trust supports a nationwide network of food banks and together provide emergency food and support to people locked in poverty, and campaign for change to end the need for food banks in the UK. <a class="login_button" href="https://www.trusselltrust.org/get-help/find-a-foodbank/">Find out more here</a></div>

</div>



<br>




{% endblock %} -->
