{% extends "layout.html" %}
{% block body_content %}

        <h4>Here you will find your saved recipes</h4>

            <ul>
                {% for recipe in saved_recipes %}
                <li>
                    <div class = "saved_recipe_box">
                        <div class="recipe_table_row">
                            <div class="col-sm"><a class="recipe_name" href ="/recipes/{{ recipe.recipe_name }}"> {{ recipe.recipe_name }} </a></div>
                        </div>
                        <div class="recipe_table_row">
                            <img class = "saved_recipe_page_images" src="{{ recipe.recipe_img }}" alt = "{{recipe.recipe_name}}">
                        </div>
                        <div class="recipe_table_row">
                            <div class="col-sm"><p class = "recipe_description">{{ recipe.recipe_description }}</p></div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

{% endblock %}