{% extends "layout.html" %}
{% block body_content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src=" {{ image_file }} " >
            <div class="media-body">
                <h1>Welcome {{ current_user.username }}!!</h1>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
      <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <p>Here you will find your saved recipes...</p>

        <ul>
                {% for recipe in saved_recipes %}
                <li>
                    <h3> {{ recipe.recipe_name }} </h3>
                        <b>Recipe Difficulty:</b> <p>{{ recipe.difficulty.difficulty_name }}</p>
                    <br>
                        <b>Recipe Prep Time:</b> <p>{{ recipe.recipe_prep_time }}</p>
                    <br>
                        <b>Recipe Cooking Time:</b> <p>{{ recipe.recipe_cook_time }}</p>
                    <br>
                        <b>Recipe Category:</b> <p>{{ recipe.recipe_category }}</p>
                     <br>
                        <b >Recipe Description:</b> <p class = "recipe_description">{{ recipe.recipe_description }}</p>
                    <br>
                    <a href="/recipes/{{ recipe.recipe_name }}"><b>Full Recipe Here</b></a>
                    <br>
                    <br>
                    </div>
                    <div class = "recipe_page_images">
                    <img src="{{ recipe.recipe_img }}" alt = "{{recipe.recipe_name}}">
                    <br>
                    <br>
                </li>
                {% endfor %}
            </ul>

    </div>
{% endblock %}