{% extends "layout.html" %}
{% block body_content %}
    <div class="media">
        <img class="images_account_page rounded-circle" src=" {{ image_file }} ">
    </div>
    <div class="media-body">
        <h1>Welcome {{ current_user.username }}!!</h1>
        <p class="text-secondary">{{ current_user.email }}</p>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="user-account-form">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="user-account-form">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="user-account-form">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="user-account-form">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
                {% endif %}
            </div>
            </fieldset>
            <div class="user-account-form">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <br>
        <h3>Here you will find your saved recipes:</h3>
    <form action="/saved-recipes" method="get">
        <div class="form-group">
                {{ view_recipe_form.hidden_tag() }}
                {{ view_recipe_form.submit(class="btn btn-outline-info") }}
        </div>
    </form>


{% endblock %}