{% extends "layout.html" %}
{% block body_content %}

<div class = "recipe_box">
<h2 class="font-weight-bold">What is Zero Waste?</h2>


 <iframe width="560" height="315" src="https://www.youtube.com/embed/PwTqA9q2L4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<h4>Zero Waste Cooking</h4>
<p>For many people, cooking, eating, and sharing meals with loved ones are some of life’s greatest pleasures.

Yet, for those of us who are concerned with the health of the planet, cooking and eating aren’t without problems. <br> The amount of waste created by food production and preparation is one of the greatest issues facing the sustainability of our food system.

<br>
    <br> Zero-waste cooking is an action you can take in your home, too. <br> With a bit of planning and practice, you can reduce waste from your meals and have a more sustainable kitchen.</p>

<h4>How does this help?</h4>
<p><b>Reduce.</b> Use less of — or do without — unnecessary ingredients. Cook smaller portions to avoid excessive leftovers.
<br><b>Reuse.</b> Repurpose food scraps instead of throwing them out. Use reusable containers to buy foods in bulk.
<br><b>Recycle.</b> Compost leftover food scraps. Buy food from food rescue organizations that ensure that farmed produce doesn’t go to waste.</p>
<h4>Health Line</h4>
<p>You can find out more on Zero Food Waste by checking <a class="here_links" href = "https://www.healthline.com/nutrition/zero-waste-cooking-eating">here</a></p>

<h4>Empty Fridge Full Plate</h4>
<p>We encourage you to eat all the food that you've bought. <br>But we do understand that sometimes this isn't possible. Instead of throwing away food, please consider donating it to your latest <a class="here_links" href="{{url_for('FoodBanks')}}">Food Bank.</a></p>
</div>
{% endblock %}